@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900");

html,body{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  width: 100%;
  /* border: 1px solid #000;
  position: relative; */
  font-family: 'Poppins', sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.retour{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  position: absolute;
  font-size: 1.5rem;
  left: 20px;
  top: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: red;
  z-index: 10;
  color: white;
}
.retour:hover{
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.394);
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#image-container{
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    
    /* box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.85); */
}
#image-container img{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    border-radius: 5px;
    object-fit: contain; /* ou "contain" */
}
#image-container img.active {
    display: block;
  }
#image-container button{
    border: none;
    width: 50px;
    background-color: rgba(0, 0, 0, 0.431);
    backdrop-filter: blur(5px);
    
}
#image-container button i{
    color: white;
    font-size: 1.4rem;
}
#image-container button:hover{
    cursor: pointer;
}
#image-container button:active{
    background-color: #f355257b;
    backdrop-filter: blur(5px);
}
#prev{
    position: absolute;
    height: 100%;
    left: 0px;
    border-radius: 5px  0 0 5px;
}
#next{
    position: absolute;
    height: 100%;
    right: 0px;
    border-radius: 0 5px 5px 0;
}
.infozone{
    margin-top: 0px;
    width: 600px;
    height: 500px;
    padding:30px ;
    margin-left: 20px;
    display: block;
}
.infozone .section1{
    
    max-width: 100%;
    /* min-width: ; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* margin: 10px auto; */
    align-items: center;
    flex-direction: row;
  }
  .section1 span{
    display: flex;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1.4rem;
    background-color:black;
    font-weight: bolder;
    color: white;
    box-shadow: 1px 1px 4px #f35525;
  }
  .section1 h3{
    display: flex;
    font-size: 1.5rem;
    justify-content: left;
  }
  .caracteristique{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }
  .caracteristique span{
    display: flex;
    align-items: center;
    background-color: #f35525;
    color: white;
    text-shadow: 2px 2px 3px black;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1.3rem;
    font-weight: bolder;
    margin-top: 10px;    
    box-shadow: 1px 1px 4px black;
  }
  .caracteristique span:hover{
    /* background-color: #f35525da; */
    box-shadow:  -2px -2px 4px black;
  } 
  .infozone ul{
    padding: 0;
  }
  .infozone ul strong{
    font-size: 1.2rem;
  }
  .position{
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 7px;
    margin-top: -10px;
  }
  .position span{
    display: flex;
    align-items: bottom;
    background-color: black;
    color: rgb(48, 48, 48);
    padding: 10px;
    border-radius: 5px;
  }
  .position span i{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .favorie{
    position: absolute;
    right: 0px;
  }
  .position .favorie i{
    font-size: 1.4rem;
    
  }
  .favorie i:active{
    color: orange;
  }
  .favorie i:hover{
    cursor: pointer;
  }
  .call{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .call span{
    /* position: absolute;
    right: ; */
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
  }
  .call span i{
    margin-right: 5px;
    font-size: 1.2rem;
  }
  .call a{
    text-decoration:none;
  }
  .call span:hover{
    box-shadow: 1px 1px 4px black;
    cursor: pointer;
  }
  .call .tel{
    background-color: rgb(52, 222, 52);
    text-shadow: 2px 2px 3px black;
  }
  .call .WhatsApp{
    background-color: #075e54;
    text-shadow: 2px 2px 3px black;
  }

  @media screen and (width: 320px) {
    #image-container{
      width: 100%;
      box-shadow: 1px 1px 4px black;
  }
  }
  @media screen and (max-width: 900px) {
    .retour{
      position: absolute;
      left  : 20px;
      /* top: 20px; */
    }
    .main{
        width: 98%;
        display: block;
        margin: auto;
        margin-top: 65px;
    }
    #image-container{
        width: 100%;
        box-shadow: 1px 1px 4px black;
    }
    #prev{
        height: 100px;
        align-items: center;
    }
    #next{
        height: 100px;
        align-items: center;
    }
    .infozone{
        position: absolute;
        width: 90vw;
        height: 500px;
        margin-left:0px;
        /* margin-top: -10%; */
        display: block;
        align-items: flex-start;  
    }
    .infozone ul strong{
        font-size: 1.3rem;
      }
    .infozone ul{
        font-size: 1.2rem;
      }

    .infozone hr{
        width:90vw;
    }
    .infozone {
        margin-top: -10px;
    }
    .caracteristique{
        width:90%;
        margin: 0px;
      }
      .infozone .section1{
        width: 100vw;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      .position{
       width: 90vw;
       margin: 0px;
      }
      .call .tel{
        margin-left: 0px;
      }
      hr{
        width: 100%;
      }
      .section1 span{
        margin-bottom: 10px;
      }
      .infozone .section1 h3{
        font-size: 1.4rem;
      }
      
  }
  @media screen and (max-width: 500px) {
    .infozone{
        position: absolute;
        width: 80vw;
        height: 500px;
        margin-left:0px;
        padding-left: 5px;
        display: block;
        align-items: flex-start;  
      }
    .call{
        width: 90vw;
        justify-content: right;
        margin-bottom: 10px;
        padding-left: 0px;
        margin-left: 0px;
      }
      
      .section1 span{
        margin-bottom: 10px;
      }
      .infozone .section1 h3{
        margin: 0px;
      }
  }